body {
    background-color: #f8f9fa;
}
.sidebar {
    width: 250px;
    height: 100vh;
    background: #343a40;
    color: white;
    position: fixed;
    padding: 20px;
}
.sidebar a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
.sidebar a:hover {
    background: #495057;
}
.main-content {
    margin-left: 260px;
    padding: 20px;
}

.card-header {
    font-weight: bold;
}

.card-background-1{
    background: #f2c7fb;
    color: rgb(0, 0, 0);
    border:2px solid #343a40;
}

.card-background-2{
    background: #c7defb;
    color: rgb(0, 0, 0);
    border:2px solid #343a40;
}

.card-background-3{
    background: #fbc7e7;
    color: rgb(0, 0, 0);
    border:2px solid #343a40;
}

.card-background-4{
    background: #c7fbe1;
    color: rgb(0, 0, 0);
    border:2px solid #343a40;
}
.sidebar a.active {
    background-color: #6490fe; /* Change this to your desired background color */
    color: white; /* Change this to your desired text color */
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100%;
        height: auto;
        display: none;
        background: #343a40;
    }
    .main-content {
        margin-left: 0;
    }
    .navbar-toggler {
        display: block;
    }
}
